@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.f-style{
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1, h2{
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* Header */
.portada {
    background-image: url('imagenes/kayak-2.jpeg');
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}


.c-toggler{
    background: #4380c4;;
}

.f-nav{
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.logotrekking {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0% 0% 10px;
    width: 100px;
}

#nav-item-link {
    padding: 5px 8px;
    border-radius: 5px;
    color: #4380c4;
    width: max-content;
}

#nav-item-link:hover {
    background-color:  rgba(150, 150, 150, 0.507);
    transition: 0.5s;
}

a {
    color: #4380c4;
    text-decoration: none;
}

.title {
    color: aliceblue;
}

.title-one{
    position: absolute;
    top: 55vh;
    left: 14%;
    right: 0px;
}

.title-two{
    position: absolute;
    top: 60vh;
    left: 14%;
    right: 0px;
}

.in{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* Fin header */

/* Nosotros */
.nosotros-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 80px;
    padding-top: 120px;
}


.nosotros-item {
    display: flex;
}
.nosotros-text {
    margin: 0 20px;
}

.encabezados{
    padding: 0px 20px 20px 40px;
}

.A-toggler:hover{
    background-color: #4380c4;
    transition: all 1.5s;
}

/* Fin Nosotros */

/* Actividades */
.actividades{
    padding-top: 120px;
    margin: 0px 80px ;
}
.act {
    margin-left: 20px;
    
}


/* Fin Actividades */

.op {
    padding: 20px 0 20px 20px;
    margin: 0 80px;
}

/* Footer */

.contact-container{
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 60px;
}
.contact-ig {
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.contact-fc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.lg {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    justify-content: center;
}

.contact-wpp {
    display: flex;
    align-items: center;
    margin-left: 5%;
    transition: all 1.5s linear;
}
.contact-gm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    transition: all 2s;
}


.three {
    width: 35%;
}

.p-text{
    z-index: -1;
    margin: 2px 5px 0px 5px;
    transition: all 2s;
}

.contact-wpp:hover{
    z-index: 1;
}

.contact-gm:hover{
    z-index: 1; 
}

/* Fin footer */

@media screen and (max-width: 992px) {
    .f-nav{
        display: flex;
        justify-content: center;
    }
    .navbar-nav {
        display: flex;
        align-items: center;
    }
}